@using Figurkoder.Application.Queries;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Linq;

@page "/game/{gameId}/play"
@inject IMnemonicQueries MnemonicQueries
@inject NavigationManager NavigationManager

@if (mnemonic is null)
{
    <p>Loading game...</p>
}
else
{
    <h1>@mnemonic.Title</h1>
    <h2>@mnemonic.Description</h2>

    <p>Current count: @currentCount</p>
    <p>Current key: @key</p>
    <p>Current value: @value</p>
    <p>Current state: @state</p>
    <p>Result: @result</p>
    <p>Average: @average</p>

    <button class="btn btn-primary" @onclick="Start">Start</button>
    <button class="btn btn-primary" @onclick="Next">Next</button>
    <button class="btn btn-primary" @onclick="Pause">Pause</button>
    <button class="btn btn-primary" @onclick="Stop">Stop</button>
}

@code {
    [Parameter]
    public string GameId { get; set; } = null!;

    private Figurkoder.Domain.Mnemonic? mnemonic;
    private Figurkoder.Domain.Game? game;
    private Figurkoder.Domain.GameEngine? gameEngine;
    private string? from;
    private string? to;
    private int currentCount = 0;
    private string key = string.Empty;
    private string value = string.Empty;
    private string result = string.Empty;
    private TimeSpan? average = null;
    private Figurkoder.Domain.GameEngine.State state = Domain.GameEngine.State.None;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        mnemonic = await MnemonicQueries.GetMnemonicAsync(GameId);

        if (mnemonic is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        if (!TryGetValueFromQueryString("from", out from))
        {
            from = mnemonic.Pairs.First().Key;
        }

        if (!TryGetValueFromQueryString("to", out to))
        {
            to = mnemonic.Pairs.Last().Key;
        }

        var keys = mnemonic.Pairs.Select(x => x.Key).ToArray();

        var range = Array.IndexOf(keys, from)..Array.IndexOf(keys, to);

        game = new Figurkoder.Domain.Game(
        TimeSpan.FromSeconds(6),
        mnemonic.Pairs[range],
        false);

        gameEngine = new Figurkoder.Domain.GameEngine(game);

        gameEngine.Current += OnCurrentHandler;
        gameEngine.CurrentState += OnStateChangedHandler;
        gameEngine.GameFinished += OnGameFinishedHandler;

    }

    private bool TryGetValueFromQueryString(string key, [System.Diagnostics.CodeAnalysis.NotNullWhen(returnValue: true)] out string? value)
    {
        var query = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;

        if (QueryHelpers.ParseQuery(query).TryGetValue(key, out var values))
        {
            value = values.FirstOrDefault();

            return true;
        }
        else
        {
            value = null;

            return false;
        }
    }

    private void OnCurrentHandler(object _, Figurkoder.Domain.CurrentEventArgs e)
    {
        currentCount = e.Count;
        key = e.Current.Key;
        value = e.Current.Value;

        StateHasChanged();
    }

    private void OnStateChangedHandler(object _, Figurkoder.Domain.StateEventArgs e)
    {
        if (state == Domain.GameEngine.State.Finished && e.CurrentState != Domain.GameEngine.State.Finished)
        {
            result = string.Empty;
            average = null;
        }

        state = e.CurrentState;

        StateHasChanged();
    }

    private void OnGameFinishedHandler(object _, Figurkoder.Domain.GameFinishedEventArgs e)
    {
        result = System.Text.Json.JsonSerializer.Serialize(e.Result, new System.Text.Json.JsonSerializerOptions { WriteIndented = true });
        average = e.Average;

        StateHasChanged();
    }

    private void Start()
    {
        gameEngine?.Start();
    }

    private void Next()
    {
        gameEngine?.Next();
    }

    private void Pause()
    {
        gameEngine?.Pause();
    }

    private void Stop()
    {
        gameEngine?.Stop();
    }
}
