@using Figurkoder.Application.Queries;
@using System.Linq;

@page "/game/{gameId}/settings"
@inject IMnemonicQueries MnemonicQueries
@inject NavigationManager NavigationManager

@if (mnemonic is null)
{
    <p>Loading game...</p>
}
else
{
    <h1>@mnemonic.Title</h1>
    <h2>@mnemonic.Description</h2>

    <EditForm Model="@settings" OnValidSubmit="Play">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (mnemonic.Numerical)
        {
            <label for="From">Från</label>
            <InputText @bind-Value="@settings.From" @oninput="OnFromChange" id="from" />
            <label for="to">Till</label>
            <InputText @bind-Value="@settings.To" id="to" />
        }
        else
        {
            <label for="From">Från</label>
            <select @bind="@settings.From" @oninput="OnFromChange" id="from">
                @foreach (var (key, _) in mnemonic.Pairs)
                {
                    <option value="@key">@key</option>
                }
            </select>

            <label for="To">Till</label>
            <select @bind="@settings.To" id="to">
                @foreach (var (key, _) in mnemonic.Pairs)
                {
                    <option value="@key">@key</option>
                }
            </select>
        }

        <button class="btn btn-primary" type="submit">Spela</button>
    </EditForm>
}

@code {
    [Parameter]
    public string GameId { get; set; } = null!;

    private SettingsVM settings = new SettingsVM();

    private Figurkoder.Domain.Mnemonic? mnemonic;
    private string[] mnemonicKeys = Array.Empty<string>();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
        {
            return;
        }

        mnemonic = await MnemonicQueries.GetMnemonicAsync(GameId);

        if (mnemonic is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        mnemonicKeys = mnemonic.Pairs.Select(x => x.Key).ToArray();

        settings.From = mnemonic.Pairs[0].Key;
        settings.To = mnemonic.Pairs.Length < 10 ? mnemonic.Pairs[^1].Key : mnemonic.Pairs[9].Key;

        StateHasChanged();
    }

    private void OnFromChange(ChangeEventArgs e)
    {
        var index = Array.IndexOf(mnemonicKeys, e.Value);

        if (index != -1)
        {
            var toIndex = index + 9;

            if (toIndex > mnemonicKeys.Length - 1)
            {
                toIndex = mnemonicKeys.Length - 1;
            }

            settings.To = mnemonicKeys[toIndex];
        }
    }

    private void Play()
    {
        NavigationManager.NavigateTo($"game/{GameId}/play?from={settings.From}&to={settings.To}");
    }

    private class SettingsVM
    {
        public string? From { get; set; }
        public string? To { get; set; }
    }
}
