@using Figurkoder.Application.Queries;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Linq;
@using System.Reactive.Linq;

@inject NavigationManager NavigationManager
@inject Figurkoder.Domain.GameEngineFactory GameEngineFactory

@if (Mnemonic is null)
{
    <p>Loading game...</p>
}
else
{
    <h1>@Mnemonic.Title</h1>
    <h2>@Mnemonic.Description</h2>

    <p>Current count: @currentCount</p>
    <p>Current key: @key</p>
    <p>Current value: @(state is Domain.GameEngine.State.Revealed ? value : "-")</p>
    <p>Current state: @state</p>

    <button class="btn btn-primary" @onclick="Start">Start</button>
    <button class="btn btn-primary" @onclick="Next">Next</button>
    <button class="btn btn-primary" @onclick="Reveale">Reveale</button>
    <br />
    <button class="btn btn-primary" @onclick="Pause">Pause</button>
    <button class="btn btn-primary" @onclick="Stop">Stop</button>   
}

@code {
    [Parameter]
    public Figurkoder.Domain.Mnemonic? Mnemonic { get; set; } = null!;

    [Parameter]
    public bool Practice { get; set; }

    [Parameter]
    public EventCallback<GameFinished> OnGameFinished { get; set; }

    private Figurkoder.Domain.Game? game;
    private Figurkoder.Domain.GameEngine? gameEngine;
    private int currentCount = 0;
    private string key = string.Empty;
    private string value = string.Empty;
    private Figurkoder.Domain.GameEngine.State state = Domain.GameEngine.State.NotStarted;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Mnemonic is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        game = new Figurkoder.Domain.Game(
            TimeSpan.FromSeconds(6),
            Mnemonic.Pairs,
            !Practice);

        gameEngine = GameEngineFactory.Create(game);

        gameEngine.Events
            .OfType<Figurkoder.Domain.StateChangedEvent>()
            .Subscribe(OnStateChangedHandler);

        gameEngine.Events
            .OfType<Figurkoder.Domain.NextFlashcardEvent>()
            .Subscribe(OnNextFlashcardHandler);

        gameEngine.Events
            .OfType<Figurkoder.Domain.GameFinishedEvent>()
            .Subscribe(OnGameFinishedHandler);
    }

    private void OnNextFlashcardHandler(Figurkoder.Domain.NextFlashcardEvent e)
    {
        currentCount = e.Count;
        key = e.Current.Key;
        value = e.Current.Mnemonic;

        StateHasChanged();
    }

    private void OnStateChangedHandler(Figurkoder.Domain.StateChangedEvent e)
    {
        if (state == Domain.GameEngine.State.Finished && e.CurrentState != Domain.GameEngine.State.Finished)
        {
            //result = null;
            //average = null;
        }

        state = e.CurrentState;

        StateHasChanged();
    }

    private void OnGameFinishedHandler(Figurkoder.Domain.GameFinishedEvent e)
    {
        OnGameFinished.InvokeAsync(new (e.Results, e.Average)).Wait();
    }

    private void Start() => gameEngine?.Start();

    private void Next() => gameEngine?.Next();

    private void Reveale() => gameEngine?.Reveale();

    private void Pause() => gameEngine?.Pause();

    private void Stop() => gameEngine?.Stop();

    public record GameFinished(Figurkoder.Domain.Result[] Results, TimeSpan? Average);
}
