@using Figurkoder.Application.Queries;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Reactive.Linq;

@implements IDisposable

@inject NavigationManager NavigationManager
@inject Figurkoder.Domain.GameEngineFactory GameEngineFactory

@if (Mnemonic is null)
{
    <p>Loading game...</p>
}
else
{
    <CardWithBackground Title=@Mnemonic.Title Description=@Mnemonic.Description>
        <p>Par @(currentCount == 0 ? "-" : currentCount) av @Mnemonic.Pairs.Count()</p>
        <p>Current key: @key</p>
        <p>Current value: @(state is Domain.GameEngine.State.Revealed ? value : "-")</p>
@if (IsDebug())
{
        <p>Current state: @state</p>
}
        <p>Seconds left: @(timeLeft is null ? "-" : timeLeft.ToString() + "...")</p>

        <div class="flex flex-row pb-2 mb-2 border-b">

            <button class="w-full mx-3 px-3 py-4 font-medium text-white bg-blue-600 rounded-md" @onclick="() => gameEngine?.Next()">Nästa</button>
            <button class="w-full mx-3 px-3 py-4 font-medium text-white bg-yellow-500 rounded-md" @onclick="() => gameEngine?.Reveale()">Visa</button>

        </div>
        <div class="flex flex-row">

            <button class="w-full mx-3 px-3 py-4 font-medium text-white bg-blue-600 rounded-md" @onclick="() => gameEngine?.Start()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
                </svg>
            </button>
            <button class="w-full mx-3 px-3 py-4 font-medium text-white bg-yellow-500 rounded-md" @onclick="() => gameEngine?.Pause()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
            </button>
            <button class="w-full mx-3 px-3 py-4 font-medium text-white bg-red-600 rounded-md" @onclick="() => gameEngine?.Stop()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z" clip-rule="evenodd" />
                </svg>
            </button>

        </div>
    </CardWithBackground>
}

@code {
    [Parameter]
    public Figurkoder.Domain.Mnemonic? Mnemonic { get; set; } = null!;

    [Parameter]
    public bool Practice { get; set; }

    [Parameter]
    public EventCallback<GameFinished> OnGameFinished { get; set; }

    private Figurkoder.Domain.Game? game;
    private Figurkoder.Domain.GameEngine? gameEngine;
    private int currentCount = 0;
    private string key = string.Empty;
    private string value = string.Empty;
    private int? timeLeft;
    private Figurkoder.Domain.GameEngine.State state = Domain.GameEngine.State.NotStarted;
    private ICollection<IDisposable> disposables = new List<IDisposable>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Mnemonic is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        game = new Figurkoder.Domain.Game(
            TimeSpan.FromSeconds(6),
            Mnemonic.Pairs,
            !Practice);

        gameEngine = GameEngineFactory.Create(game);

        disposables.Add(gameEngine);

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.StateChangedEvent>()
                .Subscribe(OnStateChangedHandler));

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.NextFlashcardEvent>()
                .Subscribe(OnNextFlashcardHandler));

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.GameFinishedEvent>()
                .Subscribe(OnGameFinishedHandler));

        disposables.Add(
            gameEngine.SecondsLeft
                .Subscribe(OnTimeLeftHandler));
    }

    private void OnTimeLeftHandler(int secondsLeft)
    {
        timeLeft = secondsLeft;
        StateHasChanged();
    }

    private void OnNextFlashcardHandler(Figurkoder.Domain.NextFlashcardEvent e)
    {
        currentCount = e.Count;
        key = e.Current.Key;
        value = e.Current.Mnemonic;

        StateHasChanged();
    }

    private void OnStateChangedHandler(Figurkoder.Domain.StateChangedEvent e)
    {
        state = e.CurrentState;

        StateHasChanged();
    }

    private void OnGameFinishedHandler(Figurkoder.Domain.GameFinishedEvent e)
    {
        OnGameFinished.InvokeAsync(new(e.Results, e.Average)).Wait();
    }

    public record GameFinished(Figurkoder.Domain.Result[] Results, TimeSpan? Average);

    public void Dispose()
    {
        foreach (var disposable in disposables)
        {
            disposable.Dispose();
        }
    }

    public static bool IsDebug()
    {
#if DEBUG
      return true;
#else
      return false;
#endif
    }
}
