@using Figurkoder.Application.Queries;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Reactive.Linq;

@implements IDisposable

@inject NavigationManager NavigationManager
@inject Figurkoder.Domain.GameEngineFactory GameEngineFactory

@if (Mnemonic is null)
{
    <p>Loading game...</p>
}
else
{
    <h1>@Mnemonic.Title</h1>
    <h2>@Mnemonic.Description</h2>

    <p>Current count: @currentCount</p>
    <p>Current key: @key</p>
    <p>Current value: @(state is Domain.GameEngine.State.Revealed ? value : "-")</p>
    <p>Current state: @state</p>
    <p>Seconds left: @(timeLeft is null ? "-" : timeLeft.ToString())</p>

    <button class="btn btn-primary" @onclick="() => gameEngine?.Start()">Start</button>
    <button class="btn btn-primary" @onclick="() => gameEngine?.Next()">Next</button>
    <button class="btn btn-primary" @onclick="() => gameEngine?.Reveale()">Reveale</button>
    <br />
    <button class="btn btn-primary" @onclick="() => gameEngine?.Pause()">Pause</button>
    <button class="btn btn-primary" @onclick="() => gameEngine?.Stop()">Stop</button>   
}

@code {
    [Parameter]
    public Figurkoder.Domain.Mnemonic? Mnemonic { get; set; } = null!;

    [Parameter]
    public bool Practice { get; set; }

    [Parameter]
    public EventCallback<GameFinished> OnGameFinished { get; set; }

    private Figurkoder.Domain.Game? game;
    private Figurkoder.Domain.GameEngine? gameEngine;
    private int currentCount = 0;
    private string key = string.Empty;
    private string value = string.Empty;
    private int? timeLeft;
    private Figurkoder.Domain.GameEngine.State state = Domain.GameEngine.State.NotStarted;
    private ICollection<IDisposable> disposables = new List<IDisposable>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Mnemonic is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        game = new Figurkoder.Domain.Game(
            TimeSpan.FromSeconds(6),
            Mnemonic.Pairs,
            !Practice);

        gameEngine = GameEngineFactory.Create(game);

        disposables.Add(gameEngine);

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.StateChangedEvent>()
                .Subscribe(OnStateChangedHandler));

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.NextFlashcardEvent>()
                .Subscribe(OnNextFlashcardHandler));

        disposables.Add(
            gameEngine.Events
                .OfType<Figurkoder.Domain.GameFinishedEvent>()
                .Subscribe(OnGameFinishedHandler));

        disposables.Add(
            gameEngine.SecondsLeft
                .Subscribe(OnTimeLeftHandler));
    }

    private void OnTimeLeftHandler(int secondsLeft)
    {
        timeLeft = secondsLeft;
        StateHasChanged();
    }

    private void OnNextFlashcardHandler(Figurkoder.Domain.NextFlashcardEvent e)
    {
        currentCount = e.Count;
        key = e.Current.Key;
        value = e.Current.Mnemonic;

        StateHasChanged();
    }

    private void OnStateChangedHandler(Figurkoder.Domain.StateChangedEvent e)
    {
        state = e.CurrentState;

        StateHasChanged();
    }

    private void OnGameFinishedHandler(Figurkoder.Domain.GameFinishedEvent e)
    {
        OnGameFinished.InvokeAsync(new(e.Results, e.Average)).Wait();
    }

    public record GameFinished(Figurkoder.Domain.Result[] Results, TimeSpan? Average);

    public void Dispose()
    {
        foreach (var disposable in disposables)
        {
            disposable.Dispose();
        }
    }
}
